.jsonform-required > label:after {
    content: ' *';
    color: red;
}

.jsonform-hasrequired:after {
    content: '* Required field';
    display: block;
    color: red;
    padding-top: 1em;
}

.csv_column::after {
    content: '.';
}
.csv_type::after {
    content: ')';
}
.csv_type::before {
    content: '(type: ';
}

.csv_type {
    font-style: italic;
}

.csv_field {
    font-weight: bold;
}
.csv_field_header {
    font-family: 'Courier New', monospace;;
}

div.invisible_div {        /* this will hide div with id div_id_name */
    display:none;
}

pre .pretty {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.pretty .string { color: green; }
.pretty .uri { color: darkolivegreen; }
.pretty .number { color: darkorange; }
.pretty .boolean { color: blue; }
.pretty .isA { color: blue; }
.pretty .symbol { color: blue; }
.pretty .indent { color: #23ff51; }
.pretty .null { color: magenta; }
.pretty .operator { color: red; }
.pretty .key { color: red; }
.pretty .date { color: red; }
.pretty .feature { color: saddlebrown; }
.pretty .attribute { color: skyblue; }
.pretty .category { color: green; }
.pretty .provkeyword { color: saddlebrown; }
.pretty .querykeyword { color: coral;  font-weight: bold; }
.pretty .phrasekeyword { color: coral;  font-weight: bold; }
.pretty .snlgkeyword { color: saddlebrown; font-weight: bold; }
.pretty .templatekeyword { color: royalblue; font-weight: bold; text-decoration: underline; font-variant: small-caps;}
