<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
    </layout>
  </appender>
  
  <appender name="file" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="${validation.log.location}prov-storage-mongodb-${project.version}.log"/>  <!-- maven variable validation.log.location defined in a profile -->
    <param name="MaxFileSize" value="10000KB"/>
    <!-- Keep one backup file -->
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <!-- <param name="ConversionPattern" value="%p %t %c - %m%n"/> -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
    </layout> 
  </appender> 

  
<!--
  <appender name="AppenderWrapper"
	    class="org.openprovenance.prov.service.validation.JobWrapper">
    <appender-ref ref="stdout"/>
    <appender-ref ref="file"/>
  </appender>
-->

  <category name="org.openprovenance">   
   <!-- <appender-ref ref="stdout"/> -->
    <appender-ref ref="file"/>    
  </category> 



  <category name="org.quartz-scheduler">   
    <priority value="INFO"/>   
    <appender-ref ref="file"/>
  </category> 
  <category name="org.quartz">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.apache">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 
  
  <category name="org.jboss.resteasy">   
    <priority value="ERROR"/>   
    <appender-ref ref="file"/>
  </category>

  <category name="org.apache.http">   
    <priority value="INFO"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.openprovenance.prov.interop">   
    <priority value="INFO"/>   
    <appender-ref ref="file"/>
  </category>

  <category name="org.openprovenance.prov.storage">
    <priority value="INFO"/>
    <appender-ref ref="file"/>
  </category>

  <category name="org.openprovenance.validation">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.openprovenance.pservice">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.openprovenance.prov.pservice">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.openprovenance.prov.template">   
    <priority value="WARN"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="org.hibernate">   
    <priority value="INFO"/>   
    <appender-ref ref="file"/>
  </category> 

  <category name="io.swagger">   
    <priority value="INFO"/>   
    <appender-ref ref="stdout"/>
    <appender-ref ref="file"/>
  </category> 
  
  <root>
    <priority value="debug"></priority>
    <appender-ref ref="stdout"/>
    <appender-ref ref="file"/>
  </root>
</log4j:configuration>
