.overviewOLD {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  background-color: #dadada;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-indent: 23px
} 


.overview {
  IGNORE-font-style: italic;
} 
